body {

    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    height: 100%
}

.mi-box {    
    position: static;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
    padding: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #bbe6e8;
    z-index:2000;
}

.leaflet-traveltime-slider-min {
    width: 100px; 
    margin-top:6px;
}
.leaflet-traveltime-slider-container-min{
    height: 38px; 
}

.leaflet-traveltime-slider-max{
    width: 200px; 
    float: left;
    margin: 5px;
}
.travel-time-info-max{
    float:left;
    color: #07456b;
}
.leaflet-traveltime-slider-container-max {
    height: 18px; 
}

.no-border{
     border: none;
}

.ui-tooltip {
    font-size: 10pt;
}

.address-row1 {

    font-size: 1em;
}
.address-row2 {

    font-size: 0.8em;
    font-style: italic;
}

input{
    color: #07456b;
    border-color: #bbe6e8;
    border-width: 1px;
}

ul.ui-autocomplete{
    z-index:2000;
}

